<html ng-app ="appFive">
  <head>
    <style>
    .highlight {
      background-color: yellow;
  }
    .green {
      color: green;
    }
    .red {
      color: red;
    }
    </style>
  </head>
    <body>
      <div ng-controller="appFive">
        <ul>
          <li ng-repeat="name in names">
            {{name}}
           </li>
        </ul>
      </div>

      <div ng-controller="appFive">
        <ul>
          <li ng-repeat="symbol in symbols">
            {{symbol}}
           </li>
        </ul>
      </div>

      <div ng-controller="appFive">
        <ul>
          <li ng-repeat="number in numbers track by $index">
            {{number}}
           </li>
        </ul>
      </div>

      <div ng-controller="appFive">
        <h4>Keys!</h4>
        <ul>
          <li ng-repeat="(key, value) in keyValues">
            {{key}}
           </li>
        </ul>
      </div>

      <div ng-show="3 + 4 == 5">
     3 + 4 isn't 5, don't show
     </div>

     <div ng-show="3 + 4 == 7">
     3 + 4 is 7, do show
     </div>

     <div ng-hide="3 + 4 == 5">
     3 + 4 isn't 5, don't hide
     </div>

     <div ng-hide="3 + 4 == 7">
     3 + 4 is 7, do hide
     </div>

     <h3>Sign Up Page</h3>
     <input ng-model="passNum" type="password">

     <div ng-show = "passNum.length < 7">
     <h4 ng-class="{red: passNum.length < 7}"><ng-pluralize  count="passNum.length"
                        when="{'1': 'Your password is 1 character',
                              'other': 'Your password is {} characters'}">
    </ng-pluralize></h4>
    </div>

    <div ng-show="passNum.length > 6" >
     <h4 ng-class="{green: passNum.length > 6}"><ng-pluralize  count="passNum.length"
                        when="{'1': 'Your password is 1 character',
                              'other': 'Your password is {} characters'}">
    </ng-pluralize></h4>
    </div>

    <button ng-show = "passNum.length > 6">Submit</button>
    <h4 ng-show = "passNum.length < 7">Password is invalid!</h4>

    <div ng-class="{highlight: 4 + 4 == 8}"> 4 + 4 = 8</div>
    <div ng-class="{highlight: 4 + 4 == 10}">4 + 4 = 10</div>

<h2>Camera Shop</h2>
    <div ng-controller="appFive">
      <select ng-model = 'priceRating'>
        <option value="price">Price</option>
        <option value="rating">Rating</option>
      </select>

      <div ng-repeat='camera in cameras | orderBy:priceRating'>
          <h4>{{camera.title}}</h4>
        <div ng-class="{sale:camera.sale==true}">Price: {{camera.price | currency}}</div>
          <span ng-show="{camera.sale==true}">ON SALE!</span>
          <div>Rating: {{camera.rating}}</div>
          <img style='width:90px' ng-src="{{camera.image}}" alt="picture of camera">
      </span>
    </div>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="app5.js"></script>
</html>
